fastapi
uvicorn
sqlalchemy
pydantic
python-multipart
python-dotenv
psycopg2-binary
openai
pinecone
langchain>=0.3.0
langchain-core>=0.3.0
langchain-openai
langchain-google-genai
langchain-pinecone
langchain-community
PyPDF2
scholarly